
Great! You have <%=number%> students today!

Enter your the names of each student below.<br>Then click submit.<br>
<br>

<form method = "post" action = "names">
	<% number.to_i.times do%>
	<input type = "text" autofocus="autofocus" name = "user_names[]">
	<%end%>
	<input type = "submit">
</form>


