This is a random pairing app. It will take the names of the students in your class and randomly pair them. <br> Should your list have an odd number of names it will add the remaining name to the last group.<br>
<br>
How many students are in class today?

<form method = "post" action = "number">
	<input type = "number" autofocus="autofocus" name = "student_number">
	<input type = "submit" name = "mysubmit" value = "Enter Names">
</form>